<label for="flip-1">{{ flipSwitchConfig.label }} </label>
<a ng-show="flipSwitchConfig.help" href="{{ flipSwitchConfig.help }}" target="_blank">
    <img ng-src="img/more_information_icon.jpg">
</a>
<div ng-click="flipSwitchChangeState()" class="ng-flip-switch-click-area">
    <span>{{ flipSwitchConfig.stateLabels.second }}</span>
    <select
        ng-model="flipSwitchSelect" name="flip-1" id="flip-1" data-role="slider">
        <option value="false"></option>
        <option value="true"></option>
    </select>
    <span>{{ flipSwitchConfig.stateLabels.first }}</span>
</div>State: {{ flipSwitchSelect }}<br>